# Map, Reduce and Filter function

# Map function

The map() function is used to apply a given function to every item of an iterable, such as a list or tuple, and returns a map object (which is an iterator).

In [1]:
l = [1, 2, 3, 4, 5]

def getSquare(list):
  l1 = []
  for i in list:
    l1.append(i**2)

  return l1

getSquare(l)

[1, 4, 9, 16, 25]

In [2]:
# Using map()

def sq(num):
  return num**2

In [3]:
map(sq, l)

In [4]:
list(map(sq, l))

[1, 4, 9, 16, 25]

In [5]:
# map() with lambda
# When the function is simple, we can use lambda()

list(map(lambda x:x**2, l))

[1, 4, 9, 16, 25]

In [6]:
# map() with 2 iterables(list)

l1 = [10, 20, 30, 40, 50]
l2 = [60, 70, 80, 90, 100]

list(map(lambda x,y:x+y, l1, l2))

[70, 90, 110, 130, 150]

In [7]:
# Same program with external function.

def add(x, y):
  return x+y

In [8]:
list(map(add, l1, l2))

# Don't use parenthesis while calling "add" function.

[70, 90, 110, 130, 150]

In [9]:
# Map() with string

name = "monika"

list(map(lambda s: s.upper(), name))

['M', 'O', 'N', 'I', 'K', 'A']

# Reduce()

The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along. This function is defined in “functools” module.

In [10]:
from functools import reduce
# as reduce() is not present by default, we need to import it from the above package.

In [11]:
li = [1, 2, 3, 4, 5]

reduce(lambda x,y:x+y, li)

15

**NOTE:** By default reduce() is written for accepting 2 variables, not 3 variables.

This is bcz if we take 3 variables, then while iterating and adding the numbers, there will be a time(at last) when the second last number will be 'y' and before that summation of numbers will be 'x' and then 'z' variable will be out of range in the list which throws error.

In [12]:
reduce(lambda x,y:x+y, [1,2,3])

6

In [13]:
reduce(lambda x,y:x+y, [])

TypeError: reduce() of empty iterable with no initial value

Exception case:

In [14]:
reduce(lambda x,y:x+y, [1])

1

In [16]:
reduce(lambda x,y:x+y, [1000])

1000

In [17]:
reduce(lambda x,y:x*y, li)

120

In [20]:
# To get the maximum number from the list.

l2 = [10, 20, 30, 40, 40, 50]
reduce(lambda x,y: x if x>y else y, l2)

50

# Filter()

The filter() function returns an iterator where the items are filtered through a function to test if the item is accepted or not.

In [23]:
# to filter even numbers from the list.

l3 = [1,2,3,4,5,6,7,8,9,10]

list(filter(lambda x: x%2 == 0, l3))

[2, 4, 6, 8, 10]

In [24]:
# to filter odd numbers from the list.

list(filter(lambda x: x%2 != 0, l3))

[1, 3, 5, 7, 9]

In [29]:
# to filter negative numbers from the list.

l4 = [2, 4,-2, -5, -7, -8, 1, 3, 6, 100, -5000, -6]

list(filter(lambda x: x < 0, l4))

[-2, -5, -7, -8, -5000, -6]

In [30]:
# to filter the strings whose lemgth is less tahn 6.

l5 = ["so", "Monika", "you're", "Amazing", "really", "wonderfull", "supernova"]

list(filter(lambda s: len(s) > 6, l5))

['Amazing', 'wonderfull', 'supernova']