LABEL AND ORDIANL ENCODING

In [1]:
import pandas as pd

In [2]:
df= pd.DataFrame({
    'color': ['red', 'blue', 'green', 'red', 'white', 'blue', 'black']
})

# In Label encoding ,the rank is assigned alphabetically in dataset.

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
label_encoder = LabelEncoder()

In [5]:
label_encoder.fit_transform(df['color'])

array([3, 1, 2, 3, 4, 1, 0])

ORDINAL ENCODING

In [6]:
from sklearn.preprocessing import OrdinalEncoder

df= pd.DataFrame({
    'size': ['small', 'medium', 'large', 'medium', 'large', 'large', 'small']
})

In [7]:
ordinal_encoder = OrdinalEncoder(categories = [['large', 'medium', 'small']])

# In Ordinal encoding , we assign rank to the dataset.

In [8]:
df['size'].value_counts()

size
large     3
small     2
medium    2
Name: count, dtype: int64

In [9]:
ordinal_encoder.fit_transform(df[['size']])

array([[2.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [2.]])